<html>
    <body>
    	<h1 style="text-align:center;"><b>Orçamento</b></h1>
        <table>
        	<tr>
                <td>Descrição:</td>
                <td>$orcamento.descricao</td>
            </tr>
            <tr>
                <td>Cliente:</td>
                <td>$orcamento.cliente.nome</td>
            </tr>
            <tr>
                <td><b>Valor total:</b></td>
                <td><b>$numberTool.format("¤ #0.00", $orcamento.valorTotal, $locale)</b></td>
            </tr>
        </table>
        
        <br/>
        <table border="1" cellspacing="0" cellpadding="3">
            <tr>
                <th>Item</th>
                <th>Valor unitário</th>
                <th>Quantidade</th>
                <th>Valor total</th>
            </tr>
            #foreach ($item in $orcamento.itens)
            	#if ($item.id)
	            <tr>
	                <td>$item.descricao</td>
	                <td>$numberTool.format("¤ #0.00", $item.valorUnitario, $locale)</td>
	                <td>$item.quantidade</td>
	                <td>$numberTool.format("¤ #0.00", $item.valorTotal, $locale)</td>
	            </tr>
	            #end
            #end
            	<tr>
	            	<td>
	            	</td>
	            	<td>
	            	</td>
	            	<td>
	            	</td>
	            	<td>
	            		 <b>$numberTool.format("¤ #0.00", $orcamento.valorTotal, $locale)</b>
	            	</td>
            	</tr>
        </table>
    </body>
</html>
